<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.kun.app.appupdate"
  xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <!--安装软件权限-->
  <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
  <application>

    <activity android:name="com.kun.app.appupdate.ActivityUpdate"
      android:theme="@android:style/Theme.NoDisplay"
      />

    <activity android:name="com.kun.app.appupdate.UpdateDialogActivity"
      android:theme="@style/MyDialogStyle"
      />

    <service android:name="com.kun.app.appupdate.UpdateService"/>

  </application>
</manifest>
